python-dotenv
beautifulsoup4
bs4
html5lib
lxml
sentence_transformers
langchain
langchain_core
langchain_google_genai
langchain_ollama
langchain_openai
langchain_groq
langchain_community
langchainhub
langserve
sse_starlette
coloredlogs
chromadb
langchain_chroma
pypdf
wikipedia
streamlit
docarray
tiktoken
unstructured[all-docs]
openpyxl